$color-primary: #1B37AA;
$color-secondary: #0F2233;
$color-tertiary: #2D374B;
$color-white: #FEFDFE;
$color-dark: #D7DADE;
$color-black: #0A1723;
$color-background-light: #FAFFFF;
$color-background-dark: $color-black;
$color-background-dark-lighter: $color-secondary;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 400px;