$color-primary: #1B37AA;
$color-secondary: #0F2233;
$color-tertiary: #2D374B;
$color-white: #FEFDFE;
$color-dark: #D7DADE;
$color-black: #0A1723;
$color-background-light: #eff2f5;
$color-background-dark: $color-black;
$color-background-dark-lighter: $color-secondary;

$color-green: #048A81;
$color-green-light: #0ca99e;
$color-red: #C44536;
$color-red-light: #d05547;
$color-yellow: #B09D1C;
$color-yellow-light: #c1af2e;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 400px;

.shadow-md {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, .05);
}