@import './variables';
@import './index.scss';

.account {
  display: flex;
  flex-wrap: wrap;

  &__tile {
    @extend .shadow-md;
    background-color: #f2f6fb;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;
    padding: 1rem 1rem 0;
    width: 100%;

    &::before {
      background-color: #0e2333;
      border-radius: 6px;
      content: '';
      display: block;
      height: 4px;
      position: absolute;
      width: 20px;
    }

    &.savings {
      &::before {
        background-color: $color-red;
      }
    }

    &.current {
      &::before {
        background-color: $color-green;
      }
    }
  }

  &__block {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0.5rem 0;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-md) {
    &__tile {
      width: 100%;
    }

    &__block {
      margin: 1rem 0;
      width: 50%;

      button {
        margin-right: 1rem;
      }
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    &__tile {
      width: 100%;
    }

    &__block {
      margin: 1rem 0;
      width: 25%;
    }
  }
}