@import './variables';
@import './index.scss';

.dash {
  display: flex;
  flex-wrap: wrap;

  &__tile {
    @extend .shadow-md;
    background-color: #f2f6fb;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;
    padding: 1rem;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-md) {
    &__tile {
      width: 100%;

      &--block {
        width: 50%;
      }

      &--left {
        margin-right: 0.75rem;
        width: calc(50% - 0.75rem)
      }
    }
  }
}