@import './variables';

.input-form {
  $parent: &;

  &__tile {
    // background: linear-gradient(180deg, #06121d, #030d17);
    background: linear-gradient(180deg, $color-black, #050f19);
    background-color: $color-black;
    // border-radius: 10px;
    // border: 1px solid #485267;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 0 2rem;
    padding: 1rem;
    width: 100%;

    .modal-component & {
      margin: 0;
    }
  }

  h1 {
    color: $color-white;
  }

  &__form-container {
    display: flex;
    flex-flow: column;
    min-height: 45px;
  }

  &__form-block {
    align-items: center;
    display: flex;

    h3 {
      margin-right: 0.5rem;
      min-width: 50px;
      text-align: right;
    }

    select {
      flex-grow: 2;
    }
  }

  input, select {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid transparent;
    color: $color-secondary;
    padding: 0.8rem;
    outline: none;
    margin: 0.5rem 0;
  }

  button {
    margin: 0.5rem 0;
  }

  &.embedded {
    button {
      margin: 0.5rem 0;
    }

    h3 {
      margin-right: 0.5rem;
      min-width: 50px;
      text-align: right;
    }
  }

  &__loader-switch {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: $breakpoint-md) {
    &__tile {
      padding: 1rem 1.5rem;
    }

    &__form-container {
      flex-flow: row;
    }

    &__form-block {
      h3 {
        min-width: auto;
        text-align: left;
      }
    }

    &.embedded {
      #{$parent}__form-container {
        flex-flow: column;
      }

      input, select {
        margin: 0.5rem 0;
      }
    }

    input, select {
      margin: 0 0.5rem 0 0;
    }

    button {
      margin: 0;
    }

    &__loader-switch {
      justify-content: flex-start;
    }
  }
}