@import './variables';

.input-form {
  $parent: &;

  &__tile {
    background: linear-gradient(180deg, $color-black, #050f19);
    background-color: $color-black;
    border-radius: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1rem 0 2rem;
    padding: 1rem;
    width: 100%;

    .modal-component & {
      margin: 0;
    }
  }

  h1 {
    color: $color-quaternary;
  }

  h3 {
    margin-right: 0.5rem;
  }

  &__form-container {
    display: flex;
    flex-flow: column;
    min-height: 45px;
  }

  input, select {
    background-color: $color-tertiary;
    border-radius: 10px;
    border: 1px solid transparent;
    color: $color-dark;
    padding: 0.8rem;
    outline: none;
    margin: 0 0 0.5rem 0;
  }

  &__loader-switch {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: $breakpoint-md) {
    &__form-container {
      flex-flow: row;
    }

    &.embedded {
      #{$parent}__form-container {
        flex-flow: column;
      }

      input, select {
        margin: 0.5rem 0;
      }
    }

    input, select {
      margin: 0 0.5rem 0 0;
    }

    &__loader-switch {
      justify-content: flex-start;
    }
  }
}