@import './variables';

.loader-switch {
  $parent: &;
  align-items: center;
  background-color: $color-dark;
  border-radius: 100px;
  display: flex;
  height: 30px;
  margin: 1rem 0 0;
  position: relative;
  width: 80px;

  &:before {
    content: '';
    display: block;
    background-color: #b6c0d0;
    width: calc(100% - 10px);
    border-radius: 100px;
    height: 22px;
    margin: 0 auto;
  }

  &__ball {
    background-color: $color-secondary;
    border-radius: 100%;
    margin: 6px;
    height: 22px;
    position: absolute;
    right: calc(100% - 33px);
    transition: right 0.8s ease, background-color 0.8s ease;
    width: 22px;

    &:before {
      content: '';
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
      width: 16px;
      height: 16px;
      border-radius: 100%;
      margin: 3px;
    }
  }

  &.loading {
    #{$parent}__ball {
      background-color: #B09D1C;
      right: calc(50% - 18px);
    }
  }

  &.success {
    #{$parent}__ball {
      background-color: #048A81;
      right: 0;
    }
  }

  &.failure {
    #{$parent}__ball {
      background-color: #C44536;
    }
  }
}
