@import './variables';

.loggedin {
  background-color: #EFF0FA;
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  width: 100%;

  .logo {
    display: block;
    fill: $color-white;
    margin: 0 auto;
    width: 60px;
  }

  &__nav {
    background-color: $color-background-dark-lighter;
    flex-shrink: 0;
    width: 0;
  }

  &__main {
    flex-grow: 1;
    max-width: 1250px;
    padding: 0 2rem;
  }

  @media screen and (min-width: $breakpoint-lg) {
    &__nav {
      width: 290px;
    }
  }
}