@import './variables';

.loginlanding {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;

  &__container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

  &__splash {
    align-items: center;
    height: 50%;
    justify-content: center;
    background-color: #5fd4a4;
    display: flex;
    flex-flow: column;
    width: 100%;

    .logo {
      color: #ffffff;
      font-size: 50px;
      margin: 1rem 0;
      width: auto;
    }
  }

  &__content {
    background-color: $color-background-light;
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: center;
    flex-flow: column;
    width: 100%;

    input {
      border: 1px solid $color-dark;
      border-radius: 100px;
      padding: 0.5rem;
      width: 100%;
    }
  }

  .guest-box {
    background-color: $color-black;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    margin: 0.5rem 0;
    max-width: 400px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 99;
    width: 100%;

    h3 {
      line-height: 1rem;
      margin-bottom: 0.5rem;
    }

    p {
      float: left;
      margin-right: 1.5rem;

      strong {
        color: #5fd4a4;
        font-size: 18px;
      }
    }

    button {
      background-color: $color-dark;
      border: 0;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;

      &:hover {
        background-color: $color-green-light;
      }
    }
  }

  &__character-container {
    height: 550px;
    margin-top: -300px;
    transform: rotate(-180deg);

    img {
      height: 100%;
      width: auto;
    }
  }

  &__ul {
    max-width: 350px;
    color: $color-white;

    li {
      font-weight: 700;
      margin: 0.75rem 0;
    }
  }

  .login, .register {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    padding: 0 1rem;
    width: 100%;

    input, select {
      background-color: #ffffff;
      border-radius: 10px;
      border: 1px solid $color-dark;
      color: $color-secondary;
      padding: 0.8rem;
      outline: none;
      margin: 0 0 0.5rem 0;
      width: auto;
    }

    button {
      margin-right: 0;
      width: auto;
      text-align: center;
    }
  }

  @keyframes hovercharacter {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    height: 100vh;
    overflow: hidden;

    &__character-container {
      animation: hovercharacter 6s linear infinite;
      height: 550px;
      margin-top: 0;
    }

    &__container {
      flex-flow: row;
      max-height: 100vh;
      overflow: hidden;
    }

    &__splash {
      height: auto;
      width: 50%;
    }

    &__content {
      height: auto;
      width: 50%;
    }
  }
}
