@import './variables';
@import './index.scss';

.logs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 1rem;

  &__tile {
    @extend .shadow-md;
    // background: linear-gradient(180deg, #0f202f, #0c1a27);
    background-color: #f2f6fb;
    // border: 1px solid $color-quaternary;
    border-radius: 3px;
    // box-shadow: 0px 10px 44px -17px rgba(0,0,0,0.1);
    // border-left: 4px solid #1b37aa;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    padding: 1.5rem 1rem 1rem;
    width: 100%;

    &::before {
      background-color: #0e2333;
      border-radius: 6px;
      content: '';
      display: block;
      height: 4px;
      position: absolute;
      top: 16px;
      width: 20px;
    }

    &.savings {
      &::before {
        background-color: $color-red;
      }
    }

    &.current {
      &::before {
        background-color: $color-green;
      }
    }

    &.store {
      &::before {
        background-color: $color-blue;
      }
    }
  }

  &__block {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-md) {
    &__tile {
      width: 100%;
    }

    &__block {
      margin: 1rem 0;
      width: 50%;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    &__tile {
      width: 100%;
    }

    &__block {
      margin: 0;
      width: 25%;
    }
  }
}