@import './variables';

.modal-component {
  align-items: center;
  animation-duration: 0.2s;
  animation-name: fade-in;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  top: 0;
  z-index: 999;

  @keyframes fade-in {
    from {
      background-color: rgba(0, 0, 0, 0);
    }

    to {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__tile {
    background-color: $color-secondary;
    border-radius: 10px;
    color: $color-dark;
    position: relative;
    width: 400px;
  }

  .close-button {
    // background-color: $color-tertiary;
    // border: 0;
    // color: $color-dark;
    // height: 30px;
    left: 100%;
    position: absolute;
    top: 0;
    // width: 30px;
  }
}