@import '../styles/variables';

.testclass {
  &-enter, &-enter-done, &-exit, &-exit-active {
    max-height: 100vh;
    overflow: hidden;
  }

  &-exit-done {
    overflow: visible;
  }
}

.loginlanding {
  $parent: &;

  &-appear, &-enter {
    #{$parent}__splash {
      opacity: 0;
      transform: translateY(-100%);
    }

    #{$parent}__content {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  &-appear-done, &-enter-done {
    #{$parent}__splash {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }

    #{$parent}__content {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }
  }

  &-exit {
    #{$parent}__splash {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }

    #{$parent}__content {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }
  }

  &-exit-active {
    #{$parent}__splash {
      opacity: 0;
      transform: translateY(-100%);
    }

    #{$parent}__content {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

.loggedin {
  $parent: &;

  &-enter {
    background-color: $color-background-dark;
    overflow: hidden;

    #{$parent}__nav {
      opacity: 0;
      transform: translateY(-100%);
    }

    #{$parent}__main {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  &-enter-done {
    background-color: $color-background-light;
    overflow: visible;
    transition: background-color 800ms;

    #{$parent}__nav {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }

    #{$parent}__main {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }
  }

  &-exit {
    opacity: 1;
  }

  &-exit-done {
    opacity: 0;
    transition: opacity 1s;
  }
}
