@import '../styles/variables';

.trans {
  width: 100%;
}

.testclass {
  &-enter, &-enter-done, &-exit, &-exit-active {
    max-height: 100vh;
    overflow: hidden;
  }

  &-exit-done {
    overflow: visible;
  }
}

.loginlanding {
  $parent: &;

  &-appear, &-enter {
    #{$parent}__splash {
      opacity: 0;
      transform: translateY(-100%);
    }

    #{$parent}__content {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  &-appear-done, &-enter-done {
    #{$parent}__splash {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }

    #{$parent}__content {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }
  }

  &-exit {
    #{$parent}__splash {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }

    #{$parent}__content {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }
  }

  &-exit-active {
    #{$parent}__splash {
      opacity: 0;
      transform: translateY(-100%);
    }

    #{$parent}__content {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

.loggedin {
  $parent: &;

  &-enter {
    background-color: $color-background-dark;
    overflow: hidden;

    #{$parent}__nav {
      transform: translateY(-100%);
    }

    #{$parent}__main {
      opacity: 0;
      transform: translateY(100%);
    }

    @media screen and (min-width: $breakpoint-lg) {
      .navigation {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
  }

  &-enter-done {
    background-color: $color-background-light;
    overflow: visible;
    transition: background-color 800ms;

    #{$parent}__nav {
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }

    #{$parent}__main {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 800ms, transform 800ms;
    }


    @media screen and (min-width: $breakpoint-lg) {
      .navigation {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1200ms, transform 1000ms;
      }
    }
  }

  &-exit {
    opacity: 1;
  }

  &-exit-done {
    opacity: 0;
    transition: opacity 1s;
  }
}

.account-item {
  &-enter, &-appear {
    opacity: 0;
    transform: translateX(10px);
  }

  &-appear-done, &-enter-done {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  &-exit {
    opacity: 1;
    transform: translateX(0);
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-10px);
  }
}